/*fixed*/
.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-12 .unit-fixed {
  position: absolute;
  width: 80px; }
.group-fixed-12 .pos1 {
  margin-left: 0; }
.group-fixed-12 .pos2 {
  margin-left: 80px; }

.group-fixed-12 .pos3 {
  margin-left: 160px; }

.group-fixed-12 .pos4 {
  margin-left: 240px; }

.group-fixed-12 .pos5 {
  margin-left: 320px; }

.group-fixed-12 .pos6 {
  margin-left: 400px; }

.group-fixed-12 .pos7 {
  margin-left: 480px; }

.group-fixed-12 .pos8 {
  margin-left: 560px; }

.group-fixed-12 .pos9 {
  margin-left: 640px; }

.group-fixed-12 .pos10 {
  margin-left: 720px; }

.group-fixed-12 .pos11 {
  margin-left: 800px; }

.group-fixed-12 .pos12 {
  margin-left: 880px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-11 .unit-fixed {
  position: absolute;
  width: 87.273px; }
.group-fixed-11 .pos1 {
  margin-left: 0; }
.group-fixed-11 .pos2 {
  margin-left: 87.273px; }

.group-fixed-11 .pos3 {
  margin-left: 174.545px; }

.group-fixed-11 .pos4 {
  margin-left: 261.818px; }

.group-fixed-11 .pos5 {
  margin-left: 349.091px; }

.group-fixed-11 .pos6 {
  margin-left: 436.364px; }

.group-fixed-11 .pos7 {
  margin-left: 523.636px; }

.group-fixed-11 .pos8 {
  margin-left: 610.909px; }

.group-fixed-11 .pos9 {
  margin-left: 698.182px; }

.group-fixed-11 .pos10 {
  margin-left: 785.455px; }

.group-fixed-11 .pos11 {
  margin-left: 872.727px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-10 .unit-fixed {
  position: absolute;
  width: 96px; }
.group-fixed-10 .pos1 {
  margin-left: 0; }
.group-fixed-10 .pos2 {
  margin-left: 96px; }

.group-fixed-10 .pos3 {
  margin-left: 192px; }

.group-fixed-10 .pos4 {
  margin-left: 288px; }

.group-fixed-10 .pos5 {
  margin-left: 384px; }

.group-fixed-10 .pos6 {
  margin-left: 480px; }

.group-fixed-10 .pos7 {
  margin-left: 576px; }

.group-fixed-10 .pos8 {
  margin-left: 672px; }

.group-fixed-10 .pos9 {
  margin-left: 768px; }

.group-fixed-10 .pos10 {
  margin-left: 864px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-9 .unit-fixed {
  position: absolute;
  width: 106.667px; }
.group-fixed-9 .pos1 {
  margin-left: 0; }
.group-fixed-9 .pos2 {
  margin-left: 106.667px; }

.group-fixed-9 .pos3 {
  margin-left: 213.333px; }

.group-fixed-9 .pos4 {
  margin-left: 320px; }

.group-fixed-9 .pos5 {
  margin-left: 426.667px; }

.group-fixed-9 .pos6 {
  margin-left: 533.333px; }

.group-fixed-9 .pos7 {
  margin-left: 640px; }

.group-fixed-9 .pos8 {
  margin-left: 746.667px; }

.group-fixed-9 .pos9 {
  margin-left: 853.333px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-8 .unit-fixed {
  position: absolute;
  width: 120px; }
.group-fixed-8 .pos1 {
  margin-left: 0; }
.group-fixed-8 .pos2 {
  margin-left: 120px; }

.group-fixed-8 .pos3 {
  margin-left: 240px; }

.group-fixed-8 .pos4 {
  margin-left: 360px; }

.group-fixed-8 .pos5 {
  margin-left: 480px; }

.group-fixed-8 .pos6 {
  margin-left: 600px; }

.group-fixed-8 .pos7 {
  margin-left: 720px; }

.group-fixed-8 .pos8 {
  margin-left: 840px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-7 .unit-fixed {
  position: absolute;
  width: 137.143px; }
.group-fixed-7 .pos1 {
  margin-left: 0; }
.group-fixed-7 .pos2 {
  margin-left: 137.143px; }

.group-fixed-7 .pos3 {
  margin-left: 274.286px; }

.group-fixed-7 .pos4 {
  margin-left: 411.429px; }

.group-fixed-7 .pos5 {
  margin-left: 548.571px; }

.group-fixed-7 .pos6 {
  margin-left: 685.714px; }

.group-fixed-7 .pos7 {
  margin-left: 822.857px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-6 .unit-fixed {
  position: absolute;
  width: 160px; }
.group-fixed-6 .pos1 {
  margin-left: 0; }
.group-fixed-6 .pos2 {
  margin-left: 160px; }

.group-fixed-6 .pos3 {
  margin-left: 320px; }

.group-fixed-6 .pos4 {
  margin-left: 480px; }

.group-fixed-6 .pos5 {
  margin-left: 640px; }

.group-fixed-6 .pos6 {
  margin-left: 800px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-5 .unit-fixed {
  position: absolute;
  width: 192px; }
.group-fixed-5 .pos1 {
  margin-left: 0; }
.group-fixed-5 .pos2 {
  margin-left: 192px; }

.group-fixed-5 .pos3 {
  margin-left: 384px; }

.group-fixed-5 .pos4 {
  margin-left: 576px; }

.group-fixed-5 .pos5 {
  margin-left: 768px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-4 .unit-fixed {
  position: absolute;
  width: 240px; }
.group-fixed-4 .pos1 {
  margin-left: 0; }
.group-fixed-4 .pos2 {
  margin-left: 240px; }

.group-fixed-4 .pos3 {
  margin-left: 480px; }

.group-fixed-4 .pos4 {
  margin-left: 720px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-3 .unit-fixed {
  position: absolute;
  width: 320px; }
.group-fixed-3 .pos1 {
  margin-left: 0; }
.group-fixed-3 .pos2 {
  margin-left: 320px; }

.group-fixed-3 .pos3 {
  margin-left: 640px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-2 .unit-fixed {
  position: absolute;
  width: 480px; }
.group-fixed-2 .pos1 {
  margin-left: 0; }
.group-fixed-2 .pos2 {
  margin-left: 480px; }

.lining-fixed {
  width: 960px;
  margin: 0 auto; }

.group-fixed-1 .unit-fixed {
  position: absolute;
  width: 960px; }
.group-fixed-1 .pos1 {
  margin-left: 0; }
.group-fixed-1 .pos2 {
  margin-left: 960px; }

/*liquid*/
.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-12 .unit-liquid {
  position: absolute;
  width: 8.333%; }
.group-liquid-12 .pos1 {
  margin-left: 0; }
.group-liquid-12 .pos2 {
  margin-left: 8.333%; }

.group-liquid-12 .pos3 {
  margin-left: 16.667%; }

.group-liquid-12 .pos4 {
  margin-left: 25%; }

.group-liquid-12 .pos5 {
  margin-left: 33.333%; }

.group-liquid-12 .pos6 {
  margin-left: 41.667%; }

.group-liquid-12 .pos7 {
  margin-left: 50%; }

.group-liquid-12 .pos8 {
  margin-left: 58.333%; }

.group-liquid-12 .pos9 {
  margin-left: 66.667%; }

.group-liquid-12 .pos10 {
  margin-left: 75%; }

.group-liquid-12 .pos11 {
  margin-left: 83.333%; }

.group-liquid-12 .pos12 {
  margin-left: 91.667%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-11 .unit-liquid {
  position: absolute;
  width: 9.091%; }
.group-liquid-11 .pos1 {
  margin-left: 0; }
.group-liquid-11 .pos2 {
  margin-left: 9.091%; }

.group-liquid-11 .pos3 {
  margin-left: 18.182%; }

.group-liquid-11 .pos4 {
  margin-left: 27.273%; }

.group-liquid-11 .pos5 {
  margin-left: 36.364%; }

.group-liquid-11 .pos6 {
  margin-left: 45.455%; }

.group-liquid-11 .pos7 {
  margin-left: 54.545%; }

.group-liquid-11 .pos8 {
  margin-left: 63.636%; }

.group-liquid-11 .pos9 {
  margin-left: 72.727%; }

.group-liquid-11 .pos10 {
  margin-left: 81.818%; }

.group-liquid-11 .pos11 {
  margin-left: 90.909%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-10 .unit-liquid {
  position: absolute;
  width: 10%; }
.group-liquid-10 .pos1 {
  margin-left: 0; }
.group-liquid-10 .pos2 {
  margin-left: 10%; }

.group-liquid-10 .pos3 {
  margin-left: 20%; }

.group-liquid-10 .pos4 {
  margin-left: 30%; }

.group-liquid-10 .pos5 {
  margin-left: 40%; }

.group-liquid-10 .pos6 {
  margin-left: 50%; }

.group-liquid-10 .pos7 {
  margin-left: 60%; }

.group-liquid-10 .pos8 {
  margin-left: 70%; }

.group-liquid-10 .pos9 {
  margin-left: 80%; }

.group-liquid-10 .pos10 {
  margin-left: 90%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-9 .unit-liquid {
  position: absolute;
  width: 11.111%; }
.group-liquid-9 .pos1 {
  margin-left: 0; }
.group-liquid-9 .pos2 {
  margin-left: 11.111%; }

.group-liquid-9 .pos3 {
  margin-left: 22.222%; }

.group-liquid-9 .pos4 {
  margin-left: 33.333%; }

.group-liquid-9 .pos5 {
  margin-left: 44.444%; }

.group-liquid-9 .pos6 {
  margin-left: 55.556%; }

.group-liquid-9 .pos7 {
  margin-left: 66.667%; }

.group-liquid-9 .pos8 {
  margin-left: 77.778%; }

.group-liquid-9 .pos9 {
  margin-left: 88.889%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-8 .unit-liquid {
  position: absolute;
  width: 12.5%; }
.group-liquid-8 .pos1 {
  margin-left: 0; }
.group-liquid-8 .pos2 {
  margin-left: 12.5%; }

.group-liquid-8 .pos3 {
  margin-left: 25%; }

.group-liquid-8 .pos4 {
  margin-left: 37.5%; }

.group-liquid-8 .pos5 {
  margin-left: 50%; }

.group-liquid-8 .pos6 {
  margin-left: 62.5%; }

.group-liquid-8 .pos7 {
  margin-left: 75%; }

.group-liquid-8 .pos8 {
  margin-left: 87.5%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-7 .unit-liquid {
  position: absolute;
  width: 14.286%; }
.group-liquid-7 .pos1 {
  margin-left: 0; }
.group-liquid-7 .pos2 {
  margin-left: 14.286%; }

.group-liquid-7 .pos3 {
  margin-left: 28.571%; }

.group-liquid-7 .pos4 {
  margin-left: 42.857%; }

.group-liquid-7 .pos5 {
  margin-left: 57.143%; }

.group-liquid-7 .pos6 {
  margin-left: 71.429%; }

.group-liquid-7 .pos7 {
  margin-left: 85.714%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-6 .unit-liquid {
  position: absolute;
  width: 16.667%; }
.group-liquid-6 .pos1 {
  margin-left: 0; }
.group-liquid-6 .pos2 {
  margin-left: 16.667%; }

.group-liquid-6 .pos3 {
  margin-left: 33.333%; }

.group-liquid-6 .pos4 {
  margin-left: 50%; }

.group-liquid-6 .pos5 {
  margin-left: 66.667%; }

.group-liquid-6 .pos6 {
  margin-left: 83.333%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-5 .unit-liquid {
  position: absolute;
  width: 20%; }
.group-liquid-5 .pos1 {
  margin-left: 0; }
.group-liquid-5 .pos2 {
  margin-left: 20%; }

.group-liquid-5 .pos3 {
  margin-left: 40%; }

.group-liquid-5 .pos4 {
  margin-left: 60%; }

.group-liquid-5 .pos5 {
  margin-left: 80%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-4 .unit-liquid {
  position: absolute;
  width: 25%; }
.group-liquid-4 .pos1 {
  margin-left: 0; }
.group-liquid-4 .pos2 {
  margin-left: 25%; }

.group-liquid-4 .pos3 {
  margin-left: 50%; }

.group-liquid-4 .pos4 {
  margin-left: 75%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-3 .unit-liquid {
  position: absolute;
  width: 33.333%; }
.group-liquid-3 .pos1 {
  margin-left: 0; }
.group-liquid-3 .pos2 {
  margin-left: 33.333%; }

.group-liquid-3 .pos3 {
  margin-left: 66.667%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-2 .unit-liquid {
  position: absolute;
  width: 50%; }
.group-liquid-2 .pos1 {
  margin-left: 0; }
.group-liquid-2 .pos2 {
  margin-left: 50%; }

.lining-liquid {
  width: 100%;
  margin: 0 auto; }

.group-liquid-1 .unit-liquid {
  position: absolute;
  width: 100%; }
.group-liquid-1 .pos1 {
  margin-left: 0; }
.group-liquid-1 .pos2 {
  margin-left: 100%; }
