/*

  /) ,           /)         ,    /)                                
 /    __    _  _(/   _   _   _/_(/      _   _   _   _              
(/__(_/ (__(/_(_(_   (_(/ _(_(__/ )_   /_)_(_(_/_)_/_)_ o   o   o  

http://sass-lang.com/
 

*/
@media screen and (min-width: 800px), only print, projector {
  .lining-fixed-3 {
    width: 960px; }

  .group-fixed-3 .unit-fixed {
    position: absolute;
    width: 320px; }
  .group-fixed-3 .pos1 {
    margin-left: 0; }
  .group-fixed-3 .pos2 {
    margin-left: 320px; }

  .group-fixed-3 .pos3 {
    margin-left: 640px; }

  .fixed-3-span1 {
    width: 320px !important; }

  .fixed-3-span2 {
    width: 640px !important; }

  .fixed-3-span3 {
    width: 960px !important; }

  .lining-liquid-5 {
    width: 80%; }

  .group-liquid-5 .unit-liquid {
    position: absolute;
    width: 16%; }
  .group-liquid-5 .pos1 {
    margin-left: 0; }
  .group-liquid-5 .pos2 {
    margin-left: 16%; }

  .group-liquid-5 .pos3 {
    margin-left: 32%; }

  .group-liquid-5 .pos4 {
    margin-left: 48%; }

  .group-liquid-5 .pos5 {
    margin-left: 64%; }

  .liquid-5-span1 {
    width: 16% !important; }

  .liquid-5-span2 {
    width: 32% !important; }

  .liquid-5-span3 {
    width: 48% !important; }

  .liquid-5-span4 {
    width: 64% !important; }

  .liquid-5-span5 {
    width: 80% !important; } }
