/*for demo*/
body {line-height:20px;}
p {width:80%;}
.lining-fixed-3 {min-height:500px;background-color:#eee; margin:0 auto;}
.lining-liquid-5 {min-height:500px;background-color:#ccc;}
.unit-liquid-5 {padding:25px}
.unit-fixed-3 {padding:25px;}