/*

  /) ,           /)         ,    /)                                
 /    __    _  _(/   _   _   _/_(/      _   _   _   _              
(/__(_/ (__(/_(_(_   (_(/ _(_(__/ )_   /_)_(_(_/_)_/_)_ o   o   o  

http://sass-lang.com/
 

*/

@mixin layout($col_num, $width, $type) {
	$col_width: $width / $col_num ;
	.lining-#{$type}-#{$col_num} {width:$width;}
	.group-#{$type}-#{$col_num} {
			.unit-#{$type}-#{$col_num} {position: absolute; width:$col_width;}		
			.pos1 {margin-left:0;}
			.pos2 {margin-left: $col_width;}
		}
		$loop: 3;
		@for $loop from 3 through $col_num {
			$var: $loop - 1;
			$varsum: $col_width * $var;	
			.group-#{$type}-#{$col_num} .pos#{$loop} {margin-left:$varsum;}
		}
   		$loop: $loop + 1;



		$loop: 1;
		@for $loop from 1 through $col_num {
			$span_width:$col_width * $loop ;
			.group-#{$type}-#{$col_num} .span#{$loop} {width: $span_width !important;}
		}
   		$loop: $loop + 1;

}

@media screen and (min-width: 800px), only print, projector {
@include layout(3, 960px, fixed);
@include layout(5, 80%, liquid);
}