header {}
footer {}

body {background-color:#999;}

.outer {width:100%; height:100%;background-color:#999; position:absolute;overflow-x:hidden;}
.containingdiv {width:100%;top:0; position:absolute;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;}
.open {margin-left:80%;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;}





.header-footer {float-left: margin:0; padding:0; display:block; background-color:#222; color:#666; box-shadow: 0 0 8px #000;}
.main-content {padding:35px 0 0 0; margin-top:0; background-color:#fff;box-shadow: 0 0 16px #666;}
.group {padding:25px 0; margin:0;}

.primary {margin:0; padding:0;}
.primary h1 {padding:0 40px 20px 30px; line-height:32px; color:#333}
.primary h2 {padding:0 40px 20px 0; line-height:32px; color:#333}
.primary p {padding:0 40px 20px 30px; line-height:24px; font-size:14px; color:#333}

.secondary {margin:0; margin-bottom:-37px; padding:0; background-color:#eee; box-shadow: 0 0 8px #999;}
.secondary h2 {padding:20px 30px 0 30px}
.secondary p {padding:0 30px 30px 30px; font-size:12px; line-height:18px;}
.secondary ul {margin:0; padding:0 0 20px 40px;}
.secondary li {list-style:none; margin: 0 0 10px 0}

.content-footing {margin:0; padding:0; background-color:#ccc; box-shadow: 0 0 8px #666;}
.content-footing p {padding:0 40px 20px 30px; line-height:24px; font-size:14px; color:#222; text-shadow:0 1px 0 #fff;}

.main-nav  {margin:0; padding:0; background-color:#333;}
.main-nav .item {width:200px !important;}



.site-navi {display:none;}


@media screen and (min-width: 770px) {
.site-navi {display:block;}
.site-navi ul {}
.site-navi li { display: inline;list-style-type: none; padding:0 10px 0 10px;}

.menutoggle {display:none}
.secondary {margin-bottom:0; border-radius:8px;}
.primary p {padding:0 40px 20px 0;}
.content-footing p {border-left:1px solid #c3c3c3;}
.main-nav .item {width:75px !important;}
}

/*---HABERDASH-----------------------*/
.cta {color: #fff; font-size:16px;text-align:center;padding:14px 0 12px 0; border-radius:8px; margin-left:10%; display:block; width:80%; height:24px; background-color:#0000cc; margin-bottom:10px; border:1px solid #000033;}
.hero {font-size:22px; padding:16px 0 12px 0; height:32px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0000ff), to(#000066)); box-shadow: inset 0 1px 1px 1px rgba(255, 255, 255, .3); border:1px solid #000022;}
